<!DOCTYPE html>
<html>
<head>
  <title>MyDiscountApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container"> # i added this
		<div is="user_nav">
			<% if user_signed_in? %>
				Sidned in as <%= current_user.email %> Not you?
				<%= link_to "Sign out" %>
			<% else %>
				
			<% end %>
		</div>

<%= yield %>

</body>
</html>
